# this file just makes impossible commit changes
gen\com\revonline\pastebin\BuildConfig.java

src\com\revonline\pastebin\SpecialKeys.java
.idea/
src/main/java/com/revonline/pastebin/SpecialKeys.java
target/
Pastebin.apk
proguard_logs/

screenshots/

*.iml