<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.revonline.pastebin"
          android:versionCode="11"
          android:versionName="1.5.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme"
            android:allowBackup="true"
            >

        <activity
                android:name=".ShareCodeActivity"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateHidden"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".explorepaste.ExplorePaste"
                  android:parentActivityName=".ShareCodeActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ShareCodeActivity"/>
        </activity>
        <activity android:name=".trending_pastes.PopPastes"
                  android:parentActivityName=".ShareCodeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ShareCodeActivity"
                    />
        </activity>
        <activity android:name=".user.UserActivity"
                  android:parentActivityName=".ShareCodeActivity"
                  android:label="@string/io">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ShareCodeActivity"
                    />
        </activity>
        <activity android:name=".Settings"
                  android:parentActivityName=".ShareCodeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ShareCodeActivity"
                    />
        </activity>

        <service android:enabled="true" android:name=".codeshare.SendCodeService"/>
        <receiver android:name=".codeshare.CodeShareReceiver"/>
    </application>
</manifest>
